.cert {
    height: 100%;
    max-width: 1200px;
    position: relative;
    background: url(certi-back.png)
    no-repeat center center / cover;
}

.horizontal-center {
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.certi-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
    margin: 0;
}

.certi-title p.p1 {
    font-size: 78px;
    margin: 0;
}

.certi-title p.p2 {
    font-size: 53px;
    margin: 0;
}

.certi-present {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.certi-present p {
    text-align: center;
    margin: 0;
}

.certi-present p.p1 {
    font-size: 24px;
}

.certi-present p.name {
    font-size: 54px;
    font-weight: 700;
}

.certi-present p.level {
    font-size: 27px;
    font-weight: 700;
}

.certi-content {
    margin: 28px;
}

.certi-content p {
    font-size: 24px;
    text-align: center;
    margin: 0;
}

.persons {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-top: 28px;
}

.president,
.director,
.vice-president {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
}

.president .p1,
.director .p1,
.vice-president .p1 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.president .p2,
.director .p2,
.vice-president .p2 {
    text-align: center;
    margin-top: 5px;
}

.logo {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.right-bottom {
    position: absolute;
    right: 0px;
    top: 75px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 0px;
}

.valid-date{
    color: #000;
    margin-top: 10px;
    margin-right: 260px;
}

.valid-date p.date {
    font-weight: 700;
    font-size: 27px;
    margin-top: 5px;
}

.valid-date p {
    margin: 0;
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .certi-title p.p1 {
        font-size: 64px;
    }
    
    .certi-title p.p2 {
        font-size: 39px;
    }

    .certi-present p.p1 {
        font-size: 22px;
    }

    .certi-present p.name {
        font-size: 49px;
    }
    
    .certi-present p.level {
        font-size: 23px;
    }
    
    .persons {
        margin: 10px;
    }
    .certi-content {
        margin: 10px;
    }

    .certi-content p {
        font-size: 22px;
    }

    .right-bottom {
        top: 75px;
    }
    
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
    .certi-title p.p1 {
        font-size: 59px;
    }
    
    .certi-title p.p2 {
        font-size: 35px;
    }

    .certi-present p.p1 {
        font-size: 20px;
    }

    .certi-present p.name {
        font-size: 40px;
    }
    
    .certi-present p.level {
        font-size: 20px;
    }
    
    .persons {
        margin: 10px;
    }
    .certi-content {
        margin: 10px;
    }

    .certi-content p {
        font-size: 20px;
    }

    .right-bottom {
        top: 75px;
    }
    
}